<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="masterarbeit">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--Internet Permission for rest api-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.product.activity.ProductInformation"></activity>
        <activity
            android:name="org.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="org.tensorflow.lite.storage.image_classification.ImageClassificationResultScreen"
            android:label="@string/activity_evaluate">
        </activity>
        <activity
            android:name="org.tensorflow.lite.storage.object_detection.ObjectDetectionResultScreen"
            android:label="@string/activity_evaluate">
        </activity>
        <activity
            android:name="org.tensorflow.lite.camera.image_classification.ClassifierActivity"
            android:label="@string/activity_name_classification">
        </activity>
        <activity
            android:name="org.tensorflow.lite.camera.object_detection.DetectorActivity"
            android:label="@string/activity_name_detection"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>